@media (max-width: 575.98px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 15px;
    }



    .navbar {
        flex-direction: column;
    }

    .nav-menu-wraper {
        flex-direction: column;
    }

    .nav-menu-wraper li {
        margin-bottom: 10px;
    }

    .banner {
        flex-direction: column;
        padding: 10px;
    }

    .banner-content {
        width: 100%;
        text-align: center;
        margin-top: 30px;

    }

    .icon-list {
        text-align: left;
        margin-left: 30%;
    }

    .banner-img {
        width: 100%;
        margin-top: 30px;
    }


    .teams-part {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .team-content {
        width: 100%;
        text-align: center;
    }

    .team-img {
        width: 100%;
    }

    .section-title {
        padding: 0 10px;
    }

    .video-card-container {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar {
        flex-direction: column;
    }

    .nav-menu-wraper {
        flex-direction: column;
    }

    .nav-menu-wraper li {
        margin-bottom: 10px;
    }

    .banner {
        flex-direction: column;
        padding: 10px;
    }

    .banner-content {
        width: 100%;
        text-align: center;
        margin-top: 30px;

    }

    .icon-list {
        text-align: left;
        margin-left: 30%;
    }

    .banner-img {
        width: 100%;
        margin-top: 30px;
    }

    .teams-part {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .team-content {
        width: 100%;
        text-align: center;
    }

    .team-img {
        width: 100%;
    }

    .section-title {
        padding: 0 10px;
    }

    .video-card-container {
        grid-template-columns: 1fr 1fr;
        padding: 0 10px;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    #header {
        padding: 0 30px;
    }

    section {
        padding: 0 30px;
    }

    .team-content {
        text-align: center;
        width: 100%;
    }

    .team-img {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}