body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: #534c64;
}

h1 {
    font-size: 80px;
    line-height: 1.3em;
}

h2 {
    font-size: 48px;
    line-height: 1.3em;
}

h3 {
    font-size: 24px;
    line-height: 1.3em;
}

section {
    padding: 100px 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #534c64;
}

p {
    font-size: 16px;
    line-height: 1.3em;
    color: #534c64;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

span {
    color: #f948b2;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.primary-btn,
.secondary-btn {
    border: none;
    color: white;
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 48px;
    cursor: pointer;
}

.primary-btn {

    background: #f948b2;
}

.secondary-btn {
    background: #4ec5f7;
    ;
}

/* Header Part Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a,
.footer-logo a {
    display: flex;
    align-items: center;
}

.nav-logo a img,
.footer-logo img {
    width: 90px;
}

.nav-logo a h2 {
    margin-left: 10px;
}

.nav-menu-wraper {
    display: flex;
    align-items: center;
}

.nav-menu-wraper li a {
    margin: 0 10px;
}

.follow-menu {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    color: white;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 8px;
}

.follow-menu p {
    margin: 0;
}

.follow-menu .youtube {
    color: red;
}

.follow-menu .tiktok {
    color: #000;
}

.follow-menu a {
    margin: 0 10px;
    font-size: 20px;
}

/* Banner STyles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-img {
    width: 50%;
}

.banner-content h1,
.banner-content h2 {
    text-transform: uppercase;
    margin: 0;
}

.banner-content .icon-list p i {
    color: #f948b2;
    margin-right: 10px;
}

.banner-button {
    margin-top: 30px;
}

.teams-part {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.team-content {
    width: 40%;
    text-align: right;
}

.team-img {
    width: 55%;
}

/* video part */
.section-title {
    text-align: center;
}

.section-title h2,
.section-title p {
    margin: 0;
}

.video-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 60px;

}

.video-card {
    position: relative;
    padding: 15px;
    box-shadow: 0px 0px 15px 2px gray;
    border-radius: 15px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in;
    background: #000;
    border-radius: 15px;
    opacity: 0;
    cursor: pointer;
}

.video-card:hover .overlay {
    opacity: 0.8;
}

.icon {
    color: white;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-card-text {
    text-align: left;
    padding: 30px 10px;
}

/* Feature part */

.feature-part {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.feature-part-content {
    text-align: right;
    width: 30%;

}

.feature-img {
    margin-left: 30px;
}

.feature-img-2 {
    position: relative;
    width: 320px;
    bottom: 200px;
    right: 100px;
}

/* Top Gamse */
.top-games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-game-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.2s;
    margin: 5px 10px;


}

.top-game-item:hover {
    border: 1px solid #f948b2;
}

.top-game-item:hover a {
    color: #f948b2;
}

.top-game-item img {
    width: 50px;
    margin-right: 15px;
}

/* Footer */
#footer {
    background: #0B0223;
    padding: 50px 0;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo a h2 {
    color: white;
}

.footer-nav .footer-nav-items,
.footer-icons,
.footer-policy-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.footer-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-nav-items li a,
.footer-icons i,
.footer-policy-nav li a {
    color: white;
    margin-right: 15px;

}

.footer-icons {
    margin-top: 30px;
}

.footer-icons a {
    font-size: 30px;
    margin-right: 20px;
}

.footer-icons a:last-child {
    margin-right: 0;
}

.footer-icons a:hover i {
    color: #f948b2;
}

.footer-policy-nav {
    margin: 30px 0;
}

.footer-text {
    text-align: center;
    color: white;
}